.loginBtn {
    background-color: #13c391;
    color: white;
    border-radius: 5px;
    padding: 8px 12px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    cursor: pointer;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10),
    0 2px 2px rgba(0, 0, 0, 0.10),
    0 4px 4px rgba(0, 0, 0, 0.08),
    0 8px 8px rgba(0, 0, 0, 0.06);
}

.loginBtn:hover {
    background-color: #0db585;
    color: white;
}