.mapboxgl-popup-content {
    padding: 20px 20px 25px !important;
}

.mapboxgl-popup-close-button {
    padding: 8px !important;
    right: 3px !important;
}

.pageTitleLarge {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.pageTitle {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.pageTitle svg {
    font-size: 20px;
    margin-right: 10px;
}

.pageSubtitle {
    font-size: 15px;
    color: #b0b0b0;
    line-height: 1.2;
}

.pageTitle + :not(.pageSubtitle) {
    margin-top: 10px;
}

.textViolet {
    color: #4d3cb8;
}

.textOrange {
    color: tomato;
}

.card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-section {
    margin-bottom: 5px;
}

.info-section:last-child {
    margin-bottom: 0;
}

label {
    width: max-content;
    font-size: 13px;
    margin-bottom: 3px;
    display: block;
    font-weight: 500;
    color: #535353;
}

.formPin label {
    color: tomato;
    border-bottom: 1px solid tomato;
}

.description {
    font-size: 14px;
    line-height: 1.3;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.star {
    color: gold;
}

.star-empty {
    color: #dedede;
}

.username {
    font-size: 14px;
}

.date {
    font-size: 12px;
    color: gray;
}

/*form {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(88, 87, 87);
}*/

.formSection {
    margin-bottom: 15px;
}

.formSectionTitle {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 500;
}

form fieldset {
    border: none;
}
form fieldset:disabled input,
form fieldset:disabled select,
form fieldset:disabled textarea {
    color: #6e6e6e;
    background-color: #f1f1f1;
}

.input-section {
    margin-bottom: 15px;
}

input {
    border: none;
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 5px;
    border-radius: 2px;
    font-size: 16px;
}

.input-section:focus-within input {
    border-bottom: 1px solid #4d3cb8;
}

.input-section:focus-within label {
    color: #4d3cb8;
}

input::placeholder,
textarea::placeholder {
    font-size: 13px;
    color: rgb(176, 176, 176);
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

select {
    width: 100%;
    background-color: white;
    border: 1px solid gray;
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 16px;
}

textarea {
    border: none;
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 16px;
}

.submitButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: tomato;
    cursor: pointer;
}

.buttons,
.logout {
    position: absolute;
    top: 15px;
    right: 15px;
}

.button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.logout {
    background-color: tomato;
}

.login {
    background-color: teal;
    margin-right: 10px;
}

.register {
    background-color: slateblue;
}

.pageWrapper {
    margin-top: 65px;
    padding: 25px 0;
    min-height: calc(100vh - 135px);
}

hr {
    margin: 5px 0;
    background-color: #8d8d8d;
    border: 0;
    border-top-color: #8d8d8d;
    opacity: .25;
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,.15);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.row > .column {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}

.row > [class^='column'], .row > div[class*=' column'] {
    padding: 0 15px;
    flex: 0 0 auto;
}

.row > .column25 {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.row > .column30 {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.row > .column50 {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.row > .column70 {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

.mbTiny {
    margin-bottom: 5px;
}

.mbSmall {
    margin-bottom: 10px;
}

.mbMedium {
    margin-bottom: 20px;
}

.mbLarge {
    margin-bottom: 30px;
}

.mbExtraLarge {
    margin-bottom: 50px;
}

.mrTiny {
    margin-right: 5px;
}

.button {
    border-radius: 5px;
    padding: 8px 12px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10),
    0 2px 2px rgba(0, 0, 0, 0.10),
    0 4px 4px rgba(0, 0, 0, 0.08),
    0 8px 8px rgba(0, 0, 0, 0.06);
}

.button:disabled {
    opacity: 0.8;
    cursor: auto;
}

.button.buttonViolet {
    background-color: #5c49d4;
    color: white;
}

.button.buttonViolet:hover {
    background-color: #4d3cb8;
    color: white;
}

.button.buttonOrange {
    background-color: tomato;
    color: white;
}

.button.buttonOrange:hover {
    background-color: #f1573c;
    color: white;
}

.button .loadingIcon {
    font-size: 18px;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}