.authLogoWrapper {
    margin-bottom: 10px;
    text-align: center;
}

.authLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6757cb;
    font-weight: 600;
    font-size: 22px;
}

.authLogoSubtitle {
    color: gray;
    font-size: 13px;
    line-height: 1;
}

.registerBtn {
    background-color: #5c49d4;
    color: white;
    border-radius: 5px;
    padding: 8px 12px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    cursor: pointer;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10),
    0 2px 2px rgba(0, 0, 0, 0.10),
    0 4px 4px rgba(0, 0, 0, 0.08),
    0 8px 8px rgba(0, 0, 0, 0.06);
}

.registerBtn:hover {
    background-color: #4d3cb8;
    color: white;
}

.authFooter {
    text-align: center;
    font-size: 14px;
}

.flash-message {
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    text-align: left;
}

.flash-message.success {
    background-color: #e3ffe3;
}

.flash-message.failure {
    background-color: #ffe5e5;
}

.success {
    font-size: 12px;
    color: green;
    text-align: center;
}

.failure {
    font-size: 12px;
    color: red;
    text-align: center;
}